export ASPOSE_RUN_INTEGRATION_TESTS=true

# Use either client credentials:
export ASPOSE_CLIENT_ID=''
export ASPOSE_CLIENT_SECRET=''

# Or use an already issued access token instead:
# export TEST_CONFIGURATION_ACCESS_TOKEN=''
