# Use either client credentials:
export TEST_CONFIGURATION_CLIENT_ID=''
export TEST_CONFIGURATION_CLIENT_SECRET=''

# Or use an already issued access token instead:
# export TEST_CONFIGURATION_ACCESS_TOKEN=''
