.build/
.swiftpm/
Package.resolved
Tests/configuration.json
QR.png
DerivedData/
Packages/
xcuserdata/
*.xcodeproj/
*.xcworkspace/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
.DS_Store
